@import '../../app/default.scss';
@mixin banks_icon($pl:0) {
    background: url('//miz-image.b0.upaiyun.com/mizdai/3.0/banks.png') no-repeat;
    background-size: cover;
    background-position-y: $pl*0.5px;
    background:{
        image:url('//miz-image.b0.upaiyun.com/mizdai/3.0/banks.png');
        repeat:no-repeat;
        size:cover;
        position-y:$pl*0.5px;
    }
    @media screen and(max-width:320px){
        background-position-y: $pl*0.42px;;
    }
    @media screen and(min-width:414px){
        background-position-y: $pl*0.56px;;
    }
    @supports(font-size: 1vw) {
        background-position-y: $pl*0.5*2/750*100vw;
    }
}

.banks {
    padding-top: 15px;
    div {
        margin: 0 15px;
        padding-bottom: 20%;
        &.youzheng {
            @include banks_icon(-14);
        }
        &.gongshang,&.bank_01020000 {
            @include banks_icon(-102*2);
        }
        &.guangda {
            @include banks_icon(-183*2);
        }
        &.guangdong {
            @include banks_icon(-256*2);
        }
        &.zhongguo,&.bank_01040000 {
            @include banks_icon(-345*2);
        }
        &.zhaoshang,&.bank_03080000 {
            @include banks_icon(-437*2);
        }
        &.jianshe,&.bank_01050000 {
            @include banks_icon(-530*2);
        }
        &.jiaotong,&.bank_03010000 {
            @include banks_icon(-623*2);
        }
        &.minsheng,&.bank_03050000 {
            @include banks_icon(-710*2);
        }
        &.nongye,&.bank_01030000{
            @include banks_icon(-796*2);
        }
        &.pingan {
            @include banks_icon(-877*2);
        }
        &.pufa {
            @include banks_icon(-957*2);
        }
        &.xingye {
            @include banks_icon(-1038*2);
        }
        &.zhongxin,&.bank_03020000 {
            @include banks_icon(-1121*2);
        }
        &.huaxia {
            @include banks_icon(-1212*2);
        }
        &.guangzhou {
            @include banks_icon(-1301*2);
        }
    }
    dl {
        position: absolute;
        color: #fff;
        left: 75px;
        padding-top: 10px;
        dt {
            font-size: 15px;
            line-height: 25px;
        }
        dd {
            font-size: 12px;
        }
    }
    @supports(font-size: 1vw) {
        padding-top: pxToVw(30);
        div {
            margin: 0 pxToVw(30);
        }
        dl {
            left: pxToVw(150);
            padding-top: pxToVw(20);
            dt {
                font-size: pxToVw(30);
                line-height: pxToVw(50);
            }
            dd {
                font-size: pxToVw(24);
            }
        }
    }
}