@import '../../app/default.scss';
.login {
    background: linear-gradient(135deg, #276cdb, #1550ae);
    >i {
        background: url('//miz-image.b0.upaiyun.com/mizdai/3.0/logo.png') no-repeat center/contain;
        width: 100%;
        height: 62px;
        display: inline-block;
        margin: 80px auto 50px;
    }
    >div {
        height: 50px;
        color: #fff;
        font-size: 15px;
        margin: 25px;
        display: -webkit-flex;
        -webkit-align-items: center;
        @include border_s(0,
        0,
        1px);
        label {
            white-space: nowrap;
            padding: 0 15px;
        }
        input {
            -webkit-flex: 1;
            border: 0;
            background: 0;
            font-size: 15px;
            color: #fff;
            outline: none;
            border: 0;
            border-radius: 0;
            margin: 0;
            position: relative;
            height: 100%;
        }
        i {
            background: url('//miz-image.b0.upaiyun.com/mizdai/3.0/login.png') no-repeat;
            background-size: 47px 27px;
            width: 22px;
            height: 26px;
            position: relative;
            margin: 0 0 0 24px;
        }
        &.username i {
            background-position: right;
        }
    }
    .find {
        color: #fff;
        float: right;
        margin-right: 23px;
        font-size: 16px;
    }
    .loginNow {
        border: 1px solid #fff;
        color: #fff;
        height: 44px;
        font-size: 18px;
        line-height: 44px;
        display: block;
        margin: 90px 15px 0;
        text-align: center;
        clear: both;
        background: transparent;
        border-radius: 1000px;
    }
    >p {
        color: #fff;
        text-align: center;
        padding-top: 10px;
        font-size: 13px;
        padding: 20px 0 50px;
        a {
            color: #fff;
            margin-left: 5px;
            text-decoration: underline;
        }
    }
    input::-webkit-input-placeholder {
        color: rgba(204, 204, 204, 0.8);
    }
    @supports(font-size: 1vw) {
        >i {
            height: pxToVw(124);
            margin: pxToVw(160) auto pxToVw(100);
        }
        >div {
            height: pxToVw(100);
            font-size: pxToVw(30);
            margin: pxToVw(50);
            label {
                padding: 0 pxToVw(30);
            }
            input {
                font-size: pxToVw(30);
            }
            i {
                background-size: pxToVw(94) pxToVw(54);
                width: pxToVw(44);
                height: pxToVw(52);
                margin-left: pxToVw(48);
            }
        }
        .find {
            margin-right: pxToVw(46);
            font-size: pxToVw(32);
        }
        .loginNow {
            height: pxToVw(88);
            font-size: pxToVw(36);
            line-height: pxToVw(88);
            margin: pxToVw(180) pxToVw(30) 0;
            &:before {
                border-radius: pxToVw(120);
            }
        }
        >p {
            padding-top: pxToVw(20);
            font-size: pxToVw(26);
            padding: pxToVw(40) 0 pxToVw(100);
            a {
                margin-left: pxToVw(10);
            }
        }
    }
}