@import '../../app/default.scss';
.regist {
    background: $color_bg;
    overflow: visible;
    p {
        font-size: 13px;
        line-height: 33px;
        text-indent: 15px;
    }
    dl {
        background: #fff;
        @include border_s(1px, 0, 1px);
        font-size: 15px;
        color: $color_gray_dark;
        dd {
            height: 55px;
            line-height: 55px;
            margin-left: 15px;
            position: relative;
            display: -webkit-flex; //ios8
            -webkit-align-items: center; //ios8
            label {
                -webkit-flex: 0 0 90px;
                display: inline-block;
            }
            input {
                position: relative;
                border: 0;
                font-size: 15px;
                line-height: 50px;
                -webkit-flex: 1;
                height: 53px;
            }
        }
        dd:not(:last-child) {
            @include border_s(0, 0, 1px);
        }
    }
    .registFirst {
        >p {
            color: $color_gray;
        }
        dl {
            dd {
                img~input {
                    width: 100px;
                }
                img {
                    position: relative;
                    float: right;
                    height: 55px;
                }
            }
        }
    }
    .registNext {
        >p {
            color: $color_gray_dark
        }
    }
    @supports(font-size: 1vw) {
        p {
            font-size: pxToVw(26);
            line-height: pxToVw(66);
            text-indent: pxToVw(30);
        }
        dl {
            font-size: pxToVw(30);
            dd {
                height: pxToVw(110);
                line-height: pxToVw(110);
                margin-left: pxToVw(30);
                label {
                    -webkit-flex-basis: pxToVw(180);
                }
                input {
                    font-size: pxToVw(30);
                    line-height: pxToVw(100);
                    height: pxToVw(106);
                }
            }
        }
        .registFirst {
            dl {
                dd {
                    img~input {
                        width: pxToVw(200);
                    }
                    img {
                        height: pxToVw(110);
                    }
                }
            }
        }
    }
}

#beforeSendCode {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
