@import '../../../app/default.scss';
.bankwater {
    ul {
        background: #fff;
        display: -webkit-flex;
        line-height: 50px;
        text-align: center;
        font-size: 15px;
        color: $color_gray_dark;
        li {
            -webkit-flex: 1;
            &.select {
                color: $color_blue;
                border-bottom: 1px solid;
            }
        }
    }
    em {
        font-size: 13px;
        color: $color_gray;
        padding: 10px 15px;
    }
    span {
        width: 50px !important;
    }
}

#bankwater {
    padding-top: 0;
}

@supports(font-size: 1vw) {
    .bankwater {
        ul {
            line-height: pxToVw(100);
            font-size: pxToVw(30);
        }
        em {
            font-size: pxToVw(26);
            padding: pxToVw(20) pxToVw(30);
        }
        span {
            width: pxToVw(100) !important;
        }
    }
}