@import '../../../app/default.scss';
.car {
    .operate {
        dd:not(:first-child) {
            padding-left: 35px;
            img {
                left: 170px !important;
            }
        }
    }
}

@supports(font-size: 1vw) {
    .car {
        .operate {
            dd:not(:first-child) {
                padding-left: pxToVw(70);
                img {
                    left: pxToVw(340) !important;
                }
            }
        }
    }
}
