@import '../../../app/default.scss';
.photo {
    background: #fff;
    margin-top: 10px;
    padding: 20px 15px;
    font-size: 15px;
    color: $color_gray_dark;
    a {
        float: right;
        font-size: 13px;
        color: $color_blue;
        text-decoration: underline;
        position: relative;
        z-index: 2;
    }
}

.swiperPhotoDemo {
    height: 100%;
    img {
        width: 255px;
    }
    @for $i from 1 through 3 {
        .item_#{$i} {
            background: {
                image:url('//miz-image.b0.upaiyun.com/mizdai/3.0/iddemo#{$i}.jpg');
                position: {
                    x: center;
                    y: 40px;
                }
                size:contain;
                repeat:no-repeat;
            }
        }
    }
    .swiper-pagination {
        top: 80%;
        span {
            background: 0 0;
            border: 1px solid #fff;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background: #fff;
        }
    }
}

.certification {
    display: -webkit-flex;
    dd {
        -webkit-flex: 1;
        padding-bottom: 24%;
        outline: 1px dashed $color_border;
        outline-offset: 5px;
        margin: 15px;
        width: 33%;
        position: relative;
        overflow: visible;
        label {
            font-size: 70px;
            position: absolute;
            width: 100%;
            text-align: center;
            color: #ccc;
            // top: -25px;
            font-weight: 200;
            height: 100%;
            display: -webkit-flex;
            justify-content: center;
            align-items: center;
            top: -14px;
        }
        em {
            font-size: 13px;
            color: $color_gray;
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 10px;
        }
        i {
            display: none;
        }
        &.on {
            outline-color: $color_blue;
            background: {
                position: center;
                size: cover;
                repeat: no-repeat;
            }
            em,
            label {
                color: transparent;
            }
            i {
                position: absolute;
                left: -12px;
                top: -10px;
                background: #36c;
                display: inline-block;
                width: 18px;
                height: 18px;
                font-size: 20px;
                border-radius: 50%;
                color: #fff;
                line-height: 18px;
                text-align: center;
            }
            a {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
    }
}

#certification {
    span {
        -webkit-flex: 0 0 60px;
    }
}

@supports(font-size: 1vw) {
    .photo {
        margin-top: pxToVw(20);
        padding: pxToVw(40) pxToVw(30);
        font-size: pxToVw(30);
        a {
            font-size: pxToVw(30);
        }
    }
    .swiperPhotoDemo {
        img {
            width: pxToVw(510);
        }
        @for $i from 1 through 3 {
            .item_#{$i} {
                background: {
                    position: {
                        y: pxToVw(80);
                    }
                }
            }
        }
    }
    .certification {
        dd {
            outline-offset: pxToVw(10);
            margin: pxToVw(30);
            label {
                font-size: pxToVw(140);
                top: pxToVw(-28);
            }
            em {
                font-size: pxToVw(26);
                bottom: pxToVw(20);
            }
            &.on {
                i {
                    left: pxToVw(-24);
                    top: pxToVw(-20);
                    width: pxToVw(36);
                    height: pxToVw(36);
                    font-size: pxToVw(40);
                    line-height: pxToVw(36);
                }
            }
        }
    }
    #certification {
        span {
            -webkit-flex-basis: pxToVw(120);
        }
    }
}
