@import '../../../app/default.scss';

.contact {
    padding-bottom: 30px;

    dl {
        background: #fff;
        @include border_s(1px, 0, 1px);

        dt {
            font-size: 13px;
            color: $color_gray;
            line-height: 35px;
            text-indent: 15px;
            background: $color_bg;
        }

        dd {
            line-height: 50px;
            font-size: 15px;
            color: $color_gray_dark;
            margin-left: 15px;
            display: flex;
            align-items: center;

            span {
                width: 60px;
                display: block;
            }

            input {
                font-size: 15px;
                border: 0;
                position: relative;
                height: 46px;
                flex: 1;
            }

            .connects {
                color: $color_blue;
            }
        }

        dd:not(:last-child) {
            @include border_s(0, 0, 1px);
        }
    }

    > a {
        position: static;
        margin-top: 30px;

        &.android_true {
            top: 10px;
        }
    }
}

#contact {
    display: block;
    padding: 10px 0;

    em {
        display: block;
        font-size: 13px;
        color: $color_blue;
        line-height: 2;
    }

    &~dl {
        dd {
            span {
                font-size: 12px;
                color: $color_gray;
            }
        }
    }
}
@supports(font-size: 1vw) {
    .contact {
        padding-bottom: pxToVw(60);

        dl {
            dt {
                font-size: pxToVw(26);
                line-height: pxToVw(70);
                text-indent: pxToVw(30);
            }

            dd {
                line-height: pxToVw(100);
                font-size: pxToVw(30);
                margin-left: pxToVw(30);

                span {
                    width: pxToVw(120);
                }

                input {
                    font-size: pxToVw(30);
                    height: pxToVw(92);
                }
            }
        }

        > a {
            margin-top: pxToVw(60);

            &.android_true {
                top: pxToVw(20);
            }
        }
    }

    #contact {
        padding: pxToVw(20) 0;

        em {
            font-size: pxToVw(26);
        }

        &~dl {
            dd {
                span {
                    font-size: pxToVw(24);
                }
            }
        }
    }
}
