@import '../../../app/default.scss';
.credit {
    dd {
        display: -webkit-flex;
        span {
            -webkit-flex: 0 0 75px;
        }
        input {
            -webkit-flex: 1;
            height: 49px;
        }
    }
}

@supports(font-size: 1vw) {
    .credit {
        dd {
            span {
                -webkit-flex-basis: pxToVw(150);
            }
            input {
                height: pxToVw(98);
            }
        }
    }
}