@import '../../../app/default.scss';
.edu {
    dd {
        position: relative;
        label {
            font-size: 15px;
            line-height: 1.5;
            padding: 15px 20px 15px 0;
            &.off {
                color: $color_gray;
            }
        }
    }
}

.citylist {
    dt span,
    >span {
        font-size: 15px;
        color: $color_gray_white;
        float: right;
        padding-right: 18px;
    }
    dd {
        padding-left: 15px;
        height: 49px;
    }
}

.selectCity {
    height: 100%;
}

@supports(font-size: 1vw) {
    .edu {
        dd {
            label {
                font-size: pxToVw(30);
                padding: pxToVw(30) pxToVw(40) pxToVw(30) 0;
            }
        }
    }
    .citylist {
        dt {
            span {
                font-size: pxToVw(30);
                padding-right: pxToVw(36);
            }
        }
        dd {
            padding-left: pxToVw(30);
            height: pxToVw(98);
        }
    }
}