@import '../../../app/default.scss';
.marry {
    dt {
        line-height: 55px;
        font-size: 15px;
        color: $color_gray_dark;
        text-indent: 15px;
        background: #fff;
        margin-bottom: 5px;
        @include border_s(1px, 0, 1px);
        span {
            padding-right: 15px;
        }
    }
    dd {
        position: relative;
        span {
            white-space: nowrap;
        }
        a {
            position: absolute;
            right: 15px;
            text-decoration: underline;
            font-size: 13px;
            color: $color_blue;
            line-height: 4;
        }
    }
    p {
        font-size: 13px;
        color: $color_gray;
        padding: 15px;
    }
}

@supports(font-size: 1vw) {
    .marry {
        dt {
            line-height: pxToVw(110);
            font-size: pxToVw(30);
            text-indent: pxToVw(30);
            margin-bottom: pxToVw(10);
            span {
                padding-right: pxToVw(30);
            }
        }
        dd {
            a {
                right: pxToVw(30);
                font-size: pxToVw(26);
            }
        }
        p {
            font-size: pxToVw(26);
            padding: pxToVw(30);
        }
    }
}