@import '../../../app/default.scss';
.pact {
    dl {
        background: #fff;
        position: relative;
        dt {
            padding: 18px 15px;
            z-index: 10;
            position: relative;
            font-size: 15px;
            color: $color_gray_dark;
        }
        input {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 5;
        }
        dd {
            width: 80px;
            height: 80px;
            float: left;
            margin: 20px;
            position: relative;
            overflow: hidden;
            z-index: 2;
            outline: 1px dashed $color_border;
            outline-offset: 5px;
            background: {
                position: center;
                size: cover;
                repeat: no-repeat;
            }
            &.wait {
                font-size: 55px;
                text-align: center;
                color: #ccc;
                i {
                    display: none;
                }
                &.on {
                    z-index: 99;
                    color: transparent;
                    overflow: visible;
                    outline-color: $color_blue;
                    i {
                        position: absolute;
                        left: -12px;
                        top: -10px;
                        background: $color_blue;
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        font-size: 20px;
                        border-radius: 50%;
                        color: #fff;
                        line-height: 18px;
                        text-align: center;
                    }
                    a {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        p {
            position: relative;
            top: -10px;
            clear: both;
        }
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    p {
        font-size: 13px;
        color: $color_gray;
        padding: 15px 10px 100px;
    }
    .android_true {
        top: -20px !important;
    }
}

@supports(font-size: 1vw) {
    .pact {
        dl {
            dt {
                padding: pxToVw(36) pxToVw(30);
                font-size: pxToVw(30);
            }
            dd {
                width: pxToVw(160);
                height: pxToVw(160);
                margin: pxToVw(40);
                outline-offset: pxToVw(10);
                &.wait {
                    font-size: pxToVw(110);
                    &.on {
                        i {
                            left: pxToVw(-24);
                            top: pxToVw(-20);
                            width: pxToVw(36);
                            height: pxToVw(36);
                            font-size: pxToVw(40);
                            line-height: pxToVw(36);
                        }
                    }
                }
            }
            p {
                top: pxToVw(-20);
            }
        }
        p {
            font-size: pxToVw(26);
            padding: pxToVw(30) pxToVw(20) pxToVw(200);
            ;
        }
        .android_true {
            top: pxToVw(-40) !important;
        }
    }
}