@import '../../../app/default.scss';
.payment {
    dl {
        background: #fff;
        @include border_s(1px, 0, 1px);
        top: 10px;
        font-size: 15px;
        color: $color_gray_dark;
        dt,
        dd {
            margin-left: 15px;
            line-height: 55px;
        }
        dt~dd {
            padding-left: 10px;
        }
        dd {
            position: relative;
            display: -webkit-flex;
            input {
                font-size: 15px;
                height: 52px;
                border: 0;
                position: relative;
                text-indent: 15px;
                -webkit-flex: 1;
            }
        }
        :not(:last-child) {
            @include border_s(0, 0, 1px);
        }
        svg {
            top: 13px;
        }
    }
    p {
        font-size: 13px;
        text-indent: 30px;
        padding-top: 18px;
        color: $color_gray;
    }
}

@supports(font-size: 1vw) {
    .payment {
        dl {
            top: pxToVw(20);
            font-size: pxToVw(30);
            dt,
            dd {
                margin-left: pxToVw(30);
                line-height: pxToVw(110);
            }
            dt~dd {
                padding-left: pxToVw(20);
            }
            dd {
                input {
                    height: pxToVw(104);
                    font-size: pxToVw(30);
                    text-indent: pxToVw(30);
                }
            }
            svg {
                top: pxToVw(26);
            }
        }
        p {
            font-size: pxToVw(26);
            text-indent: pxToVw(60);
            padding-top: pxToVw(36);
        }
    }
}
