@import '../../../app/default.scss';
.taobao {
    span {
        width: 44px !important;
    }
}

.showBgPhoto {
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

@supports(font-size: 1vw) {
    .taobao {
        span {
            width: pxToVw(88) !important;
        }
    }
}
