@import '../../../app/default.scss';
.work {
    dd {
        white-space: nowrap;
        a {
            color: #fff;
            background: $color_blue;
            font-size: 13px;
            padding: 10px 15px;
            border-radius: 3px;
            white-space: nowrap;
            height: 13px;
            line-height: 1;
            margin: 10px 15px;
            position: relative;
        }
    }
}

@supports(font-size: 1vw) {
    .work {
        dd {
            a {
                font-size: pxToVw(26);
                padding: pxToVw(20) pxToVw(30);
                border-radius: pxToVw(6);
                height: pxToVw(26);
                margin: pxToVw(20) pxToVw(30);
            }
        }
    }
}
