@charset "UTF-8";
@import '../../app/default.scss';
.loan_list {
    dl {
        padding-top: 10px;
        margin-bottom: -10px;
        dd {
            background: #fff;
            @include border_s(1px, 0, 1px);
            padding: 10px 15px 30px;
            height: 70px;
            margin-bottom: 5px;
            span {
                font-size: 30px;
                color: $color_gray_dark;
                display: block;
                padding-top: 5px;
                &:before {
                    content: '借款金额(元)';
                    color: $color_gray;
                    display: block;
                }
            }
            span:before,
            label {
                color: $color_gray;
                font-size: 11px;
            }
            label {
                position: relative;
                top: -5px;
            }
            em {
                font-size: 13px;
                position: absolute;
                right: 30px;
                top: 46px;
                color: $color_blue;
                &.STATUS_LOANSUBMIT ,&.STATUS_LOANING,&.STATUS_LOANPASS,&.STATUS_APPROVEWAIT{
                    color: $color_red;
                }
                &.clean {
                    color: $color_gray;
                }
            }
        }
    }
}

@supports(font-size: 1vw) {
    .loan_list {
        dl {
            padding-top: pxToVw(20);
            margin-bottom: pxToVw(-20);
            dd {
                padding: pxToVw(20) pxToVw(30) pxToVw(60);
                height: pxToVw(140);
                margin-bottom: pxToVw(10);
                span {
                    font-size: pxToVw(60);
                    padding-top: pxToVw(10);
                }
                span:before,
                label {
                    font-size: pxToVw(22);
                }
                label {
                    top: pxToVw(-10);
                }
                em {
                    font-size: pxToVw(26);
                    right: pxToVw(60);
                    top: pxToVw(92);
                }
            }
        }
    }
}