@import '../../app/default.scss';
.loandetail {
    .top {
        height: 210px !important;
        font-size: 13px;
        padding-top: 40px;
        p {
            font-size: 60px !important;
            line-height: 2;
        }
        ul {
            display: -webkit-flex;
            li {
                -webkit-flex: 1;
                label {
                    font-size: 13px;
                    display: block;
                }
                span {
                    font-size: 18px;
                }
            }
        }
    }
    .me {
        >dl {
            font-size: 15px;
            color: $color_gray_dark;
            .showall {
                right: 30px;
            }
            svg {
                transition: transform 200ms;
            }
            .turnDown svg {
                transform: rotate(270deg);
            }
            .paid {
                color: $color_red_light;
            }
        }
        .fee {
            margin-bottom: 10px;
            overflow: hidden;
            text-align: right;
            font-size: 13px;
            color: $color_gray_white;
            line-height: 2.5;
            padding: 0 15px;
            background: #fff;
            @include border_s(0, 0, 1px);
            height: 0;
            transition: height 200ms;
            &.show {
                height: 70px;
            }
        }
    }
}

@supports(font-size: 1vw) {
    .loandetail {
        .top {
            height: pxToVw(420) !important;
            font-size: pxToVw(26);
            padding-top: pxToVw(80);
            p {
                font-size: pxToVw(120) !important;
            }
            ul {
                li {
                    label {
                        font-size: pxToVw(26);
                    }
                    span {
                        font-size: pxToVw(36);
                    }
                }
            }
        }
        .me {
            >dl {
                font-size: pxToVw(30);
                .showall {
                    right: pxToVw(60);
                }
            }
            .fee {
                margin-bottom: pxToVw(20);
                font-size: pxToVw(26);
                padding: 0 pxToVw(30);;
                &.show {
                    height: pxToVw(140);
                }
            }
        }
    }
}
