@charset "UTF-8";
@import '../../app/default.scss';
%benqi:after {
    content: '本期';
    font-size: 13px;
    color: #fff;
    background: $color_blue;
    padding: 2px 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.loanBkPlan {
    dl {
        padding-top: 10px;
        :first-child span {
            @extend %benqi;
        }
    }
}

.list_plan {
    @include border_s(0, 0, 1px);
    background: #fff;
    color: $color_gray_dark;
    padding: 15px 15px 22px;
    label {
        font-size: 12px;
    }
    span {
        display: block;
        font-size: 15px;
    }
    div {
        position: absolute;
        font-size: 18px;
        right: 15px;
        top: 15px;
        &:after {
            content: '元';
            font-size: 12px;
        }
    }
    em {
        position: absolute;
        right: 15px;
        font-size: 12px;
        color: $color_gray;
        top: 42px;
    }
}

@supports(font-size: 1vw) {
    .benqi:after {
        font-size: pxToVw(26);
        padding: pxToVw(4) pxToVw(20);
        border-radius: pxToVw(20);
        margin-left: pxToVw(40);
    }
    .loanBkPlan dl {
        padding-top: pxToVw(20);
    }
    .list_plan {
        padding: pxToVw(30) pxToVw(30) pxToVw(44);
        label {
            font-size: pxToVw(24);
        }
        span {
            font-size: pxToVw(30);
        }
        div {
            font-size: pxToVw(36);
            right: pxToVw(30);
            top: pxToVw(30);
            &:after {
                font-size: pxToVw(24);
            }
        }
        em {
            right: pxToVw(30);
            font-size: pxToVw(24);
            top: pxToVw(84);
        }
    }
}
