@import '../../app/default.scss';
.repayment_ahead_confirm {
    padding-top: 10px;
    div {
        background: #fff;
        line-height: 53px;
        font-size: 15px;
        padding: 0 15px;
        @include border_s(1px);
        span {
            float: right;
        }
    }
    p {
        line-height: 40px;
        font-size: 13px;
        color: $color_gray;
        text-indent: 15px;
        @include border_s(1px, 0, 1px);
    }
    >:last-child {
        @include border_s(1px, 0, 1px);
    }
    a {
        position: fixed !important;
    }
}

@supports(font-size: 1vw) {
    .repayment_ahead_confirm {
        padding-top: pxToVw(20);
        div {
            line-height: pxToVw(106);
            font-size: pxToVw(30);
            padding: 0 pxToVw(30);
        }
        p {
            line-height: pxToVw(80);
            font-size: pxToVw(26);
            text-indent: pxToVw(30);
        }
    }
}