@charset "UTF-8";
@import '../../app/default.scss';
.repayment_all {
    .detail {
        background: #fff;
        @include border_s(0, 0, 1px);
        padding-bottom: 40px;
        text-align: center;
        margin-bottom: 10px;
        p {
            font-size: 60px;
            color: $color_gray_dark;
            padding-top: 40px;
            width:fit-content;
            margin:auto;
            &:before {
                content: '未还本金(元) ';
                font-size: 13px;
                color: $color_gray_dark;
                display: block;
            }
        }
        span {
            color: $color_gray_dark;
            font-size: 13px;
            display: block;
            padding-top: 20px;
            em {
                color: $color_red;
            }
        }
    }
}

.list_return {
    background: #fff;
    @include border_s(1px, 0, 1px);
    dt {
        padding: 20px 15px 15px;
        height: 40px;
        position: relative;
        span:after {
            content: '每个还款日将自动扣款';
        }
    }
    dd {
        padding: 15px 15px 15px 0;
        margin-left: 15px;
        position: relative;
        @include border_s(1px);
        span:after {
            content: '可提前结清所有借款';
        }
    }
    span {
        font-size: 15px;
        color: $color_gray_dark;
        &:after {
            display: block;
            font-size: 12px;
            color: $color_gray;
            position: relative;
            top: 2px;
        }
    }
    label {
        position: absolute;
        right: 33px;
        top: 27px;
        font-size: 15px;
        color: $color_gray_dark;
        em {
            color: $color_red;
        }
    }
}

@supports(font-size: 1vw) {
    .repayment_all {
        .detail {
            padding-bottom: pxToVw(80);
            margin-bottom: pxToVw(20);
            p {
                font-size: pxToVw(120);
                padding-top: pxToVw(80);
                &:before {
                    font-size: pxToVw(26);
                }
            }
            span {
                font-size: pxToVw(26);
                padding-top: pxToVw(40);
            }
        }
    }
    .list_return {
        dt {
            padding: pxToVw(40) pxToVw(30) pxToVw(30);
            height: pxToVw(80);
        }
        dd {
            padding: pxToVw(30) pxToVw(30) pxToVw(30) 0;
            margin-left: pxToVw(30);
        }
        span {
            font-size: pxToVw(30);
            &:after {
                font-size: pxToVw(24);
                top: pxToVw(4);
            }
        }
        label {
            right: pxToVw(66);
            top: pxToVw(54);
            font-size: pxToVw(30);
        }
    }
}