@import '../../app/default.scss';
.repayment_record {
    padding-bottom: 30px;
    dt {
        line-height: 35px;
        font-size: 13px;
        color: $color_gray_dark;
        text-indent: 10px;
        @include border_s(0, 0, 1px);
    }
}

@supports(font-size: 1vw) {
    .repayment_record {
        padding-bottom: pxToVw(60);
        dt {
            line-height: pxToVw(70);
            font-size: pxToVw(26);
            text-indent: pxToVw(20);
        }
    }
}