@charset "UTF-8";
@import '../../app/default.scss';
.repayment_this {
    padding-bottom: 20px;
    .list_return {
        height: 80px;
        overflow: hidden;
        margin-bottom: 10px;
        svg {
            transition: transform 300ms linear;
        }
        &.showing dt svg {
            transform: rotate(270deg);
        }
        dt {
            @include border_s(0, 0, 1px);
            height: 80px;
            padding: 0 0 0 15px;
            label {
                position: static;
                font-size: 12px;
                color: $color_gray_dark;
                padding-top: 20px;
                display: inline-block;
            }
            div {
                font-size: 15px;
                color: $color_gray_dark;
            }
            p {
                position: absolute;
                right: 30px;
                top: 20px;
                color: $color_red;
                font-size: 20px;
                text-align: right;
                padding-right: 15px;
                &:before {
                    content: '元';
                    font-size: 12px;
                    position: absolute;
                    right: 2px;
                    top: 7px;
                }
                em {
                    display: block;
                    font-size: 12px;
                    color: $color_gray;
                    margin-right: -15px;
                }
            }
        }
        dt+dd {
            @include border_s;
        }
        dd {
            color: $color_gray_dark;
            padding: 0;
            height: 60px;
            div {
                font-size: 15px;
            }
            span {
                font-size: 12px;
                padding-top: 15px;
                display: block;
                &:after {
                    content: '';
                }
            }
            label {
                font-size: 12px;
                right: 15px;
                top: 20px;
                em {
                    font-size: 15px;
                    color: $color_gray_dark;
                    margin-left: 6px;
                }
            }
        }
    }
}

@supports(font-size: 1vw) {
    .repayment_this {
        padding-bottom: pxToVw(40);
        .list_return {
            height: pxToVw(160);
            margin-bottom: pxToVw(20);
            dt {
                height: pxToVw(160);
                padding: 0 0 0 pxToVw(30);
                label {
                    font-size: pxToVw(24);
                    padding-top: pxToVw(40);
                }
                div {
                    font-size: pxToVw(30);
                }
                p {
                    right: pxToVw(60);
                    top: pxToVw(40);
                    font-size: pxToVw(40);
                    padding-right: pxToVw(30);
                    &:before {
                        font-size: pxToVw(24);
                        right: pxToVw(4);
                        top: pxToVw(14);
                    }
                    em {
                        font-size: pxToVw(24);
                        margin-right: pxToVw(-30);
                    }
                }
            }
            dd {
                height: pxToVw(120);
                div {
                    font-size: pxToVw(30);
                }
                span {
                    font-size: pxToVw(24);
                    padding-top: pxToVw(30);
                }
                label {
                    font-size: pxToVw(24);
                    right: pxToVw(30);
                    top: pxToVw(40);
                    em {
                        font-size: pxToVw(30);
                        margin-left: pxToVw(12);
                    }
                }
            }
        }
    }
}
