.loanAgreeMent {
    padding: 10px;
    div {
    	font-size: 16px;
        h2 {
            text-align: center;
            font-size: 20px;
            line-height: 2;
        }
    }
    p{
    	font-size: 14px;
    	margin: 10px 0;
    }
    img{
    	width: 50%;
    	padding-left: 50%;
    }
}