@import '../../app/default.scss';
.loan_success {
    padding-top: 40px;
    div {
        margin: 0 15px;
        height: 285px;
        background: {
            image: url('//miz-image.b0.upaiyun.com/mizdai/3.0/loansuccess.png');
            repeat: no-repeat;
            size: contain;
        }
        p {
            background: #fff;
            position: relative;
            top: 136px;
            text-align: center;
            font-size: 14px;
            color: $color_gray_white;
            border-radius: 0 0 8px 8px;
            padding-top: 30px;
            a {
                display: block;
                text-decoration: underline;
                font-size: 15px;
                color: $color_blue;
                padding: 30px;
            }
        }
    }
}

@supports(font-size: 1vw) {
    .loan_success {
        padding-top: pxToVw(80);
        div {
            margin: 0 pxToVw(30);
            height: pxToVw(570);
            p {
                top: pxToVw(272);
                font-size: pxToVw(28);
                border-radius: 0 0 pxToVw(16) pxToVw(16);
                padding-top: pxToVw(60);
                a {
                    font-size: pxToVw(30);
                    padding: pxToVw(60);
                }
            }
        }
    }
}