$color_red:#FF5600;
$color_red_light:#ff7000;
$color_gray_dark:#333;
$color_gray_white:#666;
$color_gray_light:#eee;
$color_border:#ddd;
$color_blue:#3366cc;
$color_btn_blue:#1855b5;
$color_gray:#999;
$color_bg:#f2f2f2;
$color_confirm_bg:#f0f0f0;
$border:1px solid $color_border;
@mixin border_s($top:0, $right:0, $bottom:0, $left:0) {
    position: relative;
    &:before {
        content: '' !important;
        position: absolute;
        left: 0;
        top: 0;
        border: $border;
        border-width: $top $right $bottom $left;
        width: 200%;
        height: 200%;
        transform: scale(.5);
        box-sizing: border-box;
        transform-origin: 0 0;
    }
}

@function pxToVw($px) {
    @return $px / 750 * 100vw;
}