@import '../../app/default.scss';
@mixin personal_icon($pl:0, $pr:0) {
    background: {
        image: url('//miz-image.b0.upaiyun.com/mizdai/3.0/personal.png');
        repeat: no-repeat;
        size: 249*0.5px 191*0.5px;
        position: $pl*0.5px $pr*0.5px;
    }
    @supports(font-size: 1vw) {
        background: {
            size: 249*0.5*2/750*100vw 191*0.5*2/750*100vw;
            position: $pl*0.5*2/750*100vw $pr*0.5*2/750*100vw;
        }
    }
}

.personal {
    background: $color_bg;
    margin-bottom: -35px;
    padding-bottom: 30px;
    >p {
        text-align: center;
        font-size: 13px;
        color: $color_gray;
        margin-top: 15px;
    }
    >a {
        font-size: 18px;
        color: $color_gray_white;
        line-height: 2.5;
        background: #fff;
        display: block;
        position: relative;
        text-align: center;
        margin: 35px 15px;
        border-radius: 1000px;
    }
    .top {
        background: linear-gradient(135deg, #276cdb, #1550ae);
        height: 173px;
        color: #fff;
        text-align: center;
        i {
            @include personal_icon(-5,
            -5);
            width: 75px;
            height: 75px;
            display: inline-block;
            margin: 35px auto 10px;
        }
        p {
            font-size: 15px;
            width: fit-content;
            margin: 0 auto;
            color:#fff;
        }
    }
    dl {
        dd {
            background: #fff;
            line-height: 55px;
            display: -webkit-flex;
            font-size: 15px;
            -webkit-align-items: center;
            i {
                margin: 0 15px;
                display: inline-block;
                width: 23.5px;
                height: 20px;
                position: relative;
            }
            div {
                -webkit-flex: 1;
            }
        }
        dd:first-child {
            @include border_s(1px);
            i {
                @include personal_icon(-165,
                -146);
            }
        }
        dd:nth-child(2) {
            i {
                @include personal_icon(-164,
                -105);
            }
        }
        dd:nth-child(3) {
            i {
                @include personal_icon(-200,
                -58);
                left: -2px;
                height: 22px;
            }
        }
        dd:last-child {
            i {
                @include personal_icon(-165);
                height: 22px;
            }
        }
        dd:nth-child(odd) {
            margin-bottom: 10px;
            @include border_s(0,
            0,
            1px);
        }
        dd:nth-child(even) {
            @include border_s(1px);
            div {
                @include border_s(0,
                0,
                1px);
            }
        }
        dd:nth-child(4) {
            @include border_s(1px,
            0,
            1px);
            div {
                @include border_s;
            }
            i {
                @include personal_icon(-163,
                -56);
                height: 22px;
                left: 3px;
            }
        }
    }
    .me {
        >dl {
            background: #fff;
            >dd {
                margin-bottom: 0 !important;
                margin-left: 15px;
                overflow: hidden;
                &:before {
                    border-width: 0 0 1px !important;
                }
                span {
                    position: absolute;
                    right: 15px;
                }
            }
            dd:last-child {
                margin-left: 0;
                padding-left: 15px;
            }
        }
    }
}

@supports(font-size: 1vw) {
    .personal {
        margin-bottom: pxToVw(-70);
        padding-bottom: pxToVw(60);
        >p {
            font-size: pxToVw(26);
            margin-top: pxToVw(30);
        }
        >a {
            font-size: pxToVw(36);
            margin: pxToVw(70) pxToVw(30);
        }
        .top {
            height: pxToVw(346);
            i {
                width: pxToVw(150);
                height: pxToVw(150);
                margin: pxToVw(70) auto pxToVw(20);
            }
            p {
                font-size: pxToVw(30);
            }
        }
        dl {
            dd {
                line-height: pxToVw(110);
                font-size: pxToVw(30);
                i {
                    margin: 0 pxToVw(30);
                    width: pxToVw(47);
                    height: pxToVw(40);
                }
            }
            dd:nth-child(3) {
                i {
                    left: pxToVw(-4);
                    height: pxToVw(44);
                }
            }
            dd:nth-child(4) {
                i {
                    height: pxToVw(44);
                    left: pxToVw(6);
                }
            }
            dd:last-child {
                i {
                    height: pxToVw(44);
                }
            }
            dd:nth-child(odd) {
                margin-bottom: pxToVw(20);
            }
        }
        .me {
            >dl {
                >dd {
                    margin-left: pxToVw(30);
                    span {
                        right: pxToVw(30);
                    }
                }
                dd:last-child {
                    padding-left: pxToVw(30);
                }
            }
        }
    }
}
