@import '../../app/default.scss';
.findpaid {
    &.first {
        p {
            font-size: 15px;
            color: $color_gray_white;
            text-align: center;
            line-height: 1.5;
            padding-top: 10px;
        }
        dl {
            dd {
                display: -webkit-flex;
                background: #fff;
                padding-left: 15px;
                margin-top: 10px;
                line-height: 52px;
                position: relative;
                -webkit-align-items: center;
                label {
                    -webkit-flex: 0 0 70px;
                    font-size: 16px;
                    white-space: nowrap;
                }
                input {
                    -webkit-flex: 1;
                    border: 0;
                    font-size: 15px;
                    padding-left: 15px;
                }
                img {
                    position: absolute;
                    right: 0;
                    height: 100%;
                }
            }
        }
    }
    &#second {
        label {
            -webkit-flex-basis: 90px;
        }
    }
}

@supports(font-size: 1vw) {
    .findpaid {
        &.first {
            p {
                font-size: pxToVw(30);
                padding-top: pxToVw(20);
            }
            dl {
                dd {
                    padding-left: pxToVw(30);
                    margin-top: pxToVw(20);
                    line-height: pxToVw(104);
                    label {
                        -webkit-flex-basis: pxToVw(140); 
                        font-size: pxToVw(32); 
                    }
                    input {
                        font-size: pxToVw(30);
                        padding-left: pxToVw(30);
                    }
                }
            }
        }
        &#second {
            label {
                -webkit-flex-basis: pxToVw(180);
            }
        }
    }
}