@import '../../app/default.scss';
.paid_new {
    background: #fff;
    p {
        text-align: center;
        font-size: 18px;
        color: $color_red;
        line-height: 115px;
        padding-top: 10px;
    }
    input {
        position: absolute;
        left: -100%;
    }
    a {
        background: $color_blue;
        color: #fff;
        display: block;
        margin: 40px 15px;
        line-height: 44px;
        font-size: 18px;
        text-align: center;
        border-radius: 20px;
    }
}

.password_confirm {
    display: -webkit-flex;
    margin:15px;
    background: $color_gray_light;
    @include border_s(1px, 1px, 1px, 1px);
    dd {
        -webkit-flex: 1;
        position: relative;
        &.on {
            i {
                width: 18%;
                height: 18%;
                display: block;
                position: absolute;
                border-radius: 50%;
                top: 41%;
                left: 41%;
                background: $color_gray_dark;
            }
        }
    }
    dd:not(:last-child) {
        @include border_s(0, 1px);
    }
}

@supports(font-size: 1vw) {
    .paid_new {
        p {
            font-size: pxToVw(36);
            line-height: pxToVw(230);
            padding-top: pxToVw(20);
        }
        a {
            margin: pxToVw(80) pxToVw(30);
            line-height: pxToVw(88);
            font-size: pxToVw(36);
            border-radius: pxToVw(40);
        }
    }
    .password_confirm {
        margin:pxToVw(30);
    }
}
