@import '../../app/default.scss';
.returnPlan {
    position: fixed;
    top: 46px;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;
    .container {
        background-color: $color_confirm_bg;
        bottom: 0;
        position: absolute;
        width: 100%;
        animation-duration: 500ms;
    }
    .tops {
        background: #fff;
        padding: 22px 15px 0;
        label {
            font-size: 13px;
            color: $color_gray_white;
        }
        em {
            display: block;
            font-size: 44px;
            color: #333;
            padding-bottom: 25px;
        }
        div {
            font-size: 15px;
            color: $color_gray_white;
            line-height: 40px;
            @include border_s(1px);
            label {
                float: right;
            }
        }
        i {
            top: 20px;
            font-size: 30px;
            right: 15px;
        }
    }
    ul {
        margin: 15px 0 10px;
        line-height: 48px;
        font-size: 15px;
        background: #fff;
        position: relative;
        overflow:{
            x:hidden;
            y:scroll;
        }
        li {
            @include border_s(0,0,1px);
            em {
                background: #c0c2cb;
                color: #fff;
                height: 48px;
                display: inline-block;
                width: 48px;
                text-align: center;
                margin-right: 15px;
            }
            span {
                float: right;
                margin-right: 15px;
                font-size: 13px;
                color: $color_gray;
            }
        }
    }
}

@supports(font-size: 1vw) {
    .returnPlan {
        top: pxToVw(92);
        .tops {
            padding: pxToVw(44) pxToVw(30) 0;
            label {
                font-size: pxToVw(26);
            }
            em {
                font-size: pxToVw(88);
                padding-bottom: pxToVw(50);
            }
            div {
                font-size: pxToVw(30);
                line-height: pxToVw(80);
            }
            i {
                top: pxToVw(40);
                font-size: pxToVw(60);
                right: pxToVw(30);
            }
        }
        ul {
            margin: pxToVw(30) 0 pxToVw(20);
            line-height: pxToVw(96);
            font-size: pxToVw(30);
            li {
                em {
                    height: pxToVw(96);
                    width: pxToVw(96);
                }
                span {
                    margin-right: pxToVw(30);
                    font-size: pxToVw(26);
                }
            }
        }
    }
}